.header {


    background-color: rgba(80, 79, 85, 0.5);
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

body {

    background-color: black;

}



.first {
    border-radius: 20%;
}

#container {
    height: 50%;
    width: 50%;
}



/* button {
    height: 40px;
    width: 40px;

    border-radius: 5px;
    margin: 3px;
    background: white;
    box-shadow: 0 0 12px azure;

} */

button {
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #1a0033;
    color: #fff;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 8px rgba(169, 39, 245, 0.4);
}

button:hover {
    background-color: rgb(38, 9, 105);

}

#buttons {
    display: flex;
    justify-content: center;

}

input {
    height: 30px;
    width: 200px;
    border-radius: 10%;
}

#eq {
    background-color: rgb(255, 123, 0);
    grid-column: span 3;
}



/* #numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;

    width: 200px;
    height: 270px;

    /* border: 3px solid black;
    border-radius: 4px; 
padding: 5px;

}*/

#numbers {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 12px;

}



#head {
    color: rgb(175, 114, 23);
    width: 100%;
    height: 30px;
    background-color: rgba(27, 27, 27, 0.904);
    position: fixed;
    top: 0px;
}