.header {


    background-color: rgb(224, 220, 245, 0.5);
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: 20px;
}

.background {
    color: black;
}

.first {
    border-radius: 20%;
}

button {
    height: 40px;
    width: 40px;

    border-radius: 5px;
    margin: 3px;

}

#buttons {
    display: flex;
    justify-content: center;
}



#numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;

    width: 160px;
    height: 200px;

    border: 3px solid black;
    border-radius: 4px;
    padding: 5px;

}



#head {
    color: rgb(175, 114, 23);
    width: 100%;
    height: 30px;
    background-color: rgb(22, 22, 10);
    position: fixed;
    top: 0px;
}