.header {


    background-color: rgb(224, 220, 245);
    border-radius: 20px;
    text-align: center;
}

.background {
    color: black;
}

.first {
    border-radius: 20%;
}

button {
    border-radius: 30px;
    margin: 6px;
    padding: 8px 12px;
}

#trial {
    width: 400px;
    height: 400px;
    background-color: chocolate;

}

#numbers {
    width: 300px;
    height: 300px;

    border: 3px solid black;
    border-radius: 4px;
    padding: 8px;
}